<div>
  <div class="container-delete" *ngIf="type === 'Delete'; else showForm">
    <div style="max-width: 80%">
      Are you sure, you want to delete task with title:
      <span>{{ task?.title }} </span> ?
    </div>
    <div>
      <span class="p-buttonset">
        <button
          pButton
          class="p-button-success p-button-rounded p-button-outlined p-button-sm"
          icon="pi pi-check"
          (click)="delete()"
        ></button>
        <button
          pButton
          class="p-button-danger p-button-rounded p-button-outlined p-button-sm"
          icon="pi pi-trash"
          (click)="close()"
        ></button>
      </span>
    </div>
  </div>
  <ng-template #showForm>
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="Title"
          formControlName="title"
          [class.error]="titleFormControl?.invalid"
          [readonly]="type === 'View'"
        />
      </div>
      <div class="form-group">
        <label for="assignTo">Assing To</label>
        <input
          type="text"
          class="form-control"
          id="assignTo"
          placeholder="Assing to"
          formControlName="assignTo"
          [class.error]="assignToFormControl?.invalid"
          [readonly]="type === 'View'"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          class="form-control"
          id="description"
          placeholder="Description"
          formControlName="description"
          [class.error]="descriptionFormControl?.invalid"
          [readonly]="type === 'View'"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="creationDate">Creation date</label>
        <input
          type="date"
          class="form-control"
          id="creationDate"
          formControlName="creationDate"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="dueDate">Due date</label>
        <input
          type="date"
          class="form-control"
          id="dueDate"
          placeholder="Due date"
          formControlName="dueDate"
          [readonly]="type === 'View'"
        />
      </div>
      <div class="form-group">
        <label for="updatedDate">Updated date</label>
        <input
          type="date"
          class="form-control"
          id="updatedDate"
          placeholder="Updated date"
          formControlName="updatedDate"
          readonly
        />
      </div>
    </form>
    <div *ngIf="type === 'Edit'" class="container-button">
      <div
        [ngStyle]="
          !formGroup.valid
            ? { color: 'red', visibility: 'visible' }
            : { visibility: 'hidden' }
        "
      >
        Form is invalid, edit your errors:
        <ul>
          <li *ngIf="titleFormControl?.invalid">
            Title is required and cannot be longer than 128 characters
          </li>
          <li *ngIf="descriptionFormControl?.invalid">
            Description is required and cannot be longer than 1024 characters
          </li>
          <li *ngIf="assignToFormControl?.invalid">
            Assign to is required and cannot be longer than 128 characters
          </li>
        </ul>
      </div>
      <button
        pButton
        type="button"
        label="Save"
        class="p-button-success p-button-rounded p-button-outlined p-button-sm mt-2"
        [disabled]="!formGroup.valid"
        (click)="save()"
      ></button>
    </div>
  </ng-template>
</div>
