.container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  color: red;
  font-weight: bolder;
}
.container-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error{
    border: 2px solid red;
}