<div class="main-component">
  <p-progressSpinner *ngIf="tasks.length === 0"></p-progressSpinner>
  <p-table [value]="tasks" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let col of cols">{{ col }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.assignTo }}</td>
        <td>{{ product?.dueDate | date }}</td>
        <td>
          <button
            pButton
            type="button"
            label="View"
            class="p-button-primary p-button-rounded p-button-outlined p-button-sm m-2"
            (click)="handleButtonClick('View', product)"
          ></button>
          <button
            pButton
            type="button"
            label="Edit"
            class="p-button-success p-button-rounded p-button-outlined p-button-sm m-2"
            (click)="handleButtonClick('Edit', product)"
          ></button>
          <button
            pButton
            type="button"
            label="Delete"
            class="p-button-danger p-button-rounded p-button-outlined p-button-sm m-2"
            (click)="handleButtonClick('Delete', product)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
